<ActionBar title="Crms" class="action-bar">
</ActionBar>
<StackLayout class="body" style="padding-bottom:50%">
  <FlexboxLayout *ngIf="enableHome">
    <label class="h2" text="home"></label>
  </FlexboxLayout>>
  <router-outlet></router-outlet>
</StackLayout>
<GridLayout class="bottom-bar" #bottom rows="*, auto">
  <BottomBar class="bottom-bar" row="1" [items]="items" [hide]="hidden" [titleState]="titleState" (loaded)="tabLoaded($event)" (tabSelected)="tabSelected($event)"
    [inactiveColor]="inactiveColor" [accentColor]="accentColor" [selectedIndex]="selectedindex" colored="true"></BottomBar>
</GridLayout>