<GridLayout>
    <ScrollView>
        <CardView class="cardStyle" margin="10" elevation="40" radius="1" >
            <StackLayout *ngFor="let item of tree">
                <StackLayout class="h3 style" style="background-color: gray;border-bottom-color: aquamarine;border-bottom-width: 1px;" (tap)="onItemTap($event)">
                    <label [text]="item.ItemName">
                    </label>
                    <StackLayout style="background-color: aquamarine" class="close">
                        <StackLayout [slide]="slide_down" style="background-color: whitesmoke">
                            <Label *ngFor="let subitem of item.subItemList" [text]="subitem.SubItemName">
                            </Label>
                            <TextInputLayout hint="Name" hintAnimationEnabled="true">
                                <TextField ReturnKeyType="done"></TextField>
                            </TextInputLayout>
                            <TextInputLayout hint="Cost" hintAnimationEnabled="true">
                                <TextField ReturnKeyType="done"></TextField>
                            </TextInputLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
            <TextInputLayout hint="Name" hintAnimationEnabled="true">
                <TextField ReturnKeyType="done"></TextField>
            </TextInputLayout>
        </CardView>
    </ScrollView>
</GridLayout>